<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
    <div class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#">Create Post</a>
        <a href="#" class="right">Logout</a>
    </div>

    <div class="row">
        <div class="side">
            <img src="../images/john.jpg" alt="">
            <h2>
                John Doe

                <a href="#" class="edit-profile-button">Edit Profile</a>
            </h2>
            <h5>@johndoe</h5>
            <h5>johndoe@mail.test</h5>
        </div>
        <div class="main">
            <h3>Edit Post</h3>

            <div class="container">
                <form action="#" method="post" enctype="multipart/form-data">
                    <label for="title">Title</label>
                    <input type="text" value="New Post" id="title" name="title" placeholder="Your title.." required>

                    <input type="file" name="file" id="file">
                    <p></p>

                    <label for="body">Body</label>
                    <textarea id="body" name="body" placeholder="Write something.." style="height:200px" required>Post Body</textarea>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

</body>

</html>