<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
    <div class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#">Create Post</a>
        <a href="#" class="right">Logout</a>
    </div>

    <div class="row">
        <div class="side">
            <img src="../images/john.jpg" alt="">
            <h2>
                John Doe

                <a href="#" class="edit-profile-button">Edit Profile</a>
            </h2>
            <h5>@johndoe</h5>
            <h5>johndoe@mail.test</h5>
        </div>
        <div class="main">
            <div class="author">
                <img src="../images/john.jpg">
                <p>
                    <strong>
                        John Doe
                    </strong>
                    <br>
                    <small>@johndoe</small>
                </p>
            </div>

            <h2>
                New Post
            </h2>
            <h5>
                Jun 12, 2023 09:35 pm
            </h5>
            <img src="../images/landscape.jpg" alt="" style="height:200px">
            <p>Post Body</p>
        </div>
    </div>

</body>

</html>